* {
  /*border: 1px solid red;*/
}

.add_ingrs {
  width: 406px;
}

.hidden {
  /*display: none;*/
}

span {
  display: inline-block;
  width: 100px;
  margin: 5px;
}

input[type="number"] {
  width: 80px;
  margin: 5px 36px;
}

input[type="button"] {
  width: 129px;
}

#add,
#full_fill {
  width: 403px;
  margin: 15px auto;
}