* {
  /*border: 1px solid red;*/
}

.add_ingrs {
  width: 406px;
}

.hidden {
  display: none;
}

span {
  display: inline-block;
  width: 100px;
  margin: 5px;
}

input[type="number"] {
  width: 80px;
  margin: 5px 3px;
}

input[type="button"] {
  width: 196px;
  margin: 5px 0;
}

#cancel,
#add,
#full_fill {
  width: 403px;
  margin: 15px 0 0 0;
}