.panel {
  width: 400px;
  height: 300px;
  border: 3px solid grey;
  border-radius: 15px;
}

.info {
  width: 385px;
  height: 90px;
  margin: 6px 5px;
  border: 3px solid grey;
  border-radius: 15px;
}

.err {
  width: 385px;
  height: 180px;
  margin: 6px 5px;
  border: 3px solid grey;
  border-radius: 15px;
}

.buttons {
  width: 400px;
  margin: 15px 7px;
}
